.artist-card {
  background-color: #f5f5f5;
  border: 1px solid #c1bfbf;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.artist-title {
  font-size: 18px;
  font-weight: bold;
}

.artist-image {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 0px;
  border-radius: 5px;
}

.artist-image:hover {
  cursor: pointer;
}

.spotify-link a {
  text-decoration: none;
  color: #1DB954;
}

.spotify-link a:hover {
  color: #0f834d;
}
